/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  /*  color: #fff; 
  Attemping to change the URL colors to gold*/
  color: #b7a57a;
  text-decoration: underline;
}

/* Custom default button */
.btn-play,
.btn-play:hover,
.btn-play:focus {
  text-shadow: none; /* Prevent inheritence from `body` */
  /* background-color: #333;
  color: #ccc;
  Attemping to change play button bg to purple and color gold*/
  background-color: #4b2e83;
  color: #b7a57a;
  border: 0;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*  background-color: #333;*/
  background-color: #4b2e83;
}
body {
 /* color: #4b2e83;
  trying to change text color to gold */
  color: #b7a57a;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  margin: 0 auto -30px;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  /* color: #4b2e83;
  Trying to make URLs on top gold */
  color: #b7a57a;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
 /* color: #4b2e83;
  Trying to make URLs on top gold */
  color: #b7a57a;
  border-bottom-color: #fff;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  /*color: #999; /* IE8 proofing *
  color: rgba(255,255,255,.5);
  Trying to make shit gold again */
  color: #b7a57a; /* IE8 proofing */
  color: rgba(183, 165, 122,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    height: 30px;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.btn {
  text-decoration: none;
}
/*
 * UWave Things
 */
.red,
.red:hover,
.red:active,
.red:visited {
    color: #4b2e83;
}

.content {
    min-height: calc(100%-60px);
    padding-top: 30px;
    padding-bottom: 100px;
    height: 100%;
    /* color: #ccc; 
    gold??  */
    /*color: #fff;
   /*Tried just commenting this color. I believe it was making most text purple, but we changed it to #fff to try white, it didn't work.   */
    text-align: left;
}

.metadata {
  display: none;
}

.metadata small {
  font-size: 10pt;
}

#uwalert-alert-message {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.tunein.topbutton {
  font-size: 45pt;
}

.externalplayer {
  font-size: 8pt;
  /*color: #999;
  color: rgba(255,255,255,.7);
  Trying to make shit gold again */
  color: #b7a57a;
  color: rgba(183, 165, 122,.7);
}

#donationFAQs li {
  margin: 20px;
}

address {
  font-family: serif;
  text-shadow: none;
}

.btn-red,
.btn-red:hover,
.btn-red:active {
  color: #ddd;
  background-color: #4b2e83;
  border-color: #4b2e83;
}

.jumbotron {
    background-color: inherit;
}
