#listenerbubble     {
                        background-color: #FF0000;
                        border-radius: 100%;
                        width: 100px;
                        height: 100px;
                        text-align: center;
                    }


#listeners          {
                        font-size: 4em;
                        padding: 20px;
                        padding-top: 30px;
                    }
                    
#socialfeed         {
                        border: solid #000000 1px;
                    }

#tapchat            {
                        width: 100%;
                        height: 400px;
                    }
