/************************************************
*  New Alert                    *
************************************************/
#eas-alert-message {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#eas-alert-inner {
  width: 1100px;
  margin: 0 auto;
  padding: 5px 0 15px;
}
#eas-alert-header, #eas-alert-message p {
  color: white;
  padding: 5px 100px 0 200px;
  margin: 0;
}
#eas-alert-header {
  font-size: 18px;
}
#eas-alert-message p {
  font-size: 13px;
  line-height: 15px;
}
#eas-alert-message a { color: #FDE048; }

#eas-alert-inner.eas-alert-red      { background: url('//www.washington.edu/static/alert_logo_red.jpg') no-repeat 0 -38px; }
#alert-mini.eas-alert-red  { background: url('//www.washington.edu/static/alert_logo_red.jpg') no-repeat 16% 14% #C61029; background-size: 18%; }
#eas-alert-message.eas-alert-red         { background-color: #C61029;}

#eas-alert-inner.eas-alert-steel     { background: url('//www.washington.edu/static/alert_logo_steel.jpg') no-repeat 0 -38px; }
#alert-mini.eas-alert-steel { background: url('//www.washington.edu/static/alert_logo_steel.jpg') no-repeat 16% 14% #597286; background-size: 18%; }
#eas-alert-message.eas-alert-steel       { background-color: #597286; }

#eas-alert-inner.eas-alert-orange     { background: url('//www.washington.edu/static/alert_logo_orange.jpg') no-repeat 0 -38px; }
#alert-mini.eas-alert-orange { background: url('//www.washington.edu/static/alert_logo_orange.jpg') no-repeat 16% 14% #ec7330; background-size: 18%; }
#eas-alert-message.eas-alert-orange       { background-color: #ec7330;}


/* Widescreen */
@media (min-width: 768px) {

  #eas-alert-inner {
    width: 1100px;
  }
  #alert-mini {
    position: fixed;
    display:none;
    top: 0;
    right: 0;
    left: 0;
    text-align:center;
    z-index: 1;
    color: #fff;
    padding: 40px 0 10px 0;
  }

}
/* Normal Desktop */
@media (max-width: 979px) and (min-width: 768px) {
  #eas-alert-header, #eas-alert-message p {
    color: white;
    margin: 0;
  }
  #eas-alert-inner {
    width: 768px;
  }
}

/* Mobile */
@media (max-width: 767px) {

  #eas-alert-message{
    position: relative;
    z-index: 1;
  }
  #eas-alert-inner {
    width: 100%;
    padding-top: 65px;
  }
  #eas-alert-header, #eas-alert-message p {
    color: white;
    margin: 0;
    border: none;
  }
  #eas-alert-header {
    line-height: 18px;
  }
  #eas-alert-header, #eas-alert-message p {
    padding: 5px 20px 0 20px;
  }

}
