/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.btn,
.btn:hover,
.btn:visited,
.btn:active {
  color: #cc1f2e;
}

.red,
.red:hover,
.red:active,
.red:visited {
    color: #cc1f2e;
}



.metadata {
  display: none;
  color: #cc1f2e;
}

.metadata small {
  font-size: 10pt;
}


.externalplayer {
  font-size: 8pt;
  color: #cc1f2e;
  color: rgba(255,255,255,.7);
}
