{% extends "layout.html" %}
{% block body %}
<div class="inner cover">
                    <p class="lead">
                        <!-- <?php if($settings->online) {?> -->
                        <a href="/external" class="btn btn-lg btn-play">
                          <img src="{{ url_for('static', filename='img/swoosh.png')}}" alt="UWave swoosh shape"><br />
                          <i class="playpause glyphicon glyphicon-play-circle"></i> <span class="playtext">Tune in</span>
                        </a><br />
                        <a href="/external" class="navlink externalplayer">External Player</a><br />
                        <span class="metadata"></span>
                    </p>
                </div>
                </span>
            </div>
        </div>
    </div>
    <!-- <?php require("foot.php"); ?> -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn-play").on("click", uwave.playpause);
        });
    </script>
  </body>
</html>
{% endblock %}
