{% extends "layout.html" %}
{% block body %}
                <div class="content container">
                    <h1>PSAs</h1>
                    We love promoting other groups on campus, upcoming events, or other public service
                    announcements. To submit one, fill our <a href="https://docs.google.com/forms/d/1TyoM_hc1y2yPptSztskFrygPI4r6URx21GSx-1tbYNs/viewform" target="_blank">PSA form</a>. If you need help with the wording, read through <a href="http://ctb.ku.edu/en/table-of-contents/participation/promoting-interest/public-service-announcements/main" target="_blank">this handy guide</a>. If you have any questions not covered by the guide contact us at <a href="mailto:programming@uwave.fm">programming@uwave.fm</a> and we'd be happy to help you.
                </div>
                {% endblock %}
